export TF_VAR_neon_api_key=$NEON_API_KEY
export TF_VAR_turso_api_token=$TURSO_API_KEY
export TF_VAR_turso_organization=$TURSO_ORGANIZATION
export TF_VAR_amplify_access_token=$GITHUB_PERSONAL_ACCESS_TOKEN
export TF_VAR_cloudflare_api_token="$CF_API_KEY"
export TF_VAR_cloudflare_zone_id="$CF_ZONE_ID"
export TF_VAR_cloudflare_account_id="$CF_ACCOUNT_ID"
